@model List<Product>
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Home Page";
}

@* Index.cshtml *@
<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Bắt đầu project từ đây nha. Chúc may mắn :) </p>
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            @if (item != null)
            {
                <div class="col-md-3 mb-4">
                    <div class="card h-100 text-center">
                        <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Price.ToString("C")</p>
                            <form action="/Cart/AddToCart" method="post" class="d-flex justify-content-center">
                                <input type="number" name="quantity" value="1" min="1" class="form-control me-2"
                                    style="width: 80px;" />
                                <input type="hidden" name="productId" value="@item.Id" />
                                @if (HttpContextAccessor.HttpContext.Request.Cookies["LoginGoogle"] == "true" ||
                               User.Identity.IsAuthenticated)
                                {
                                    <button type="submit" class="btn" style="background-color: #4c7622; color:white;">Add to
                                        Cart</button>
                                }
                                else
                                {
                                    <a href="javascript:void(0);" onclick="alert('Pls login account before add to cart.')"
                                        class="btn btn-primary">Add to Cart</a>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
